parameters:
    level: 6
    paths:
        - inc
        - optimizador-pro.php
    
    # Ignore WordPress functions that don't exist in CLI
    ignoreErrors:
        - '#Function add_action not found#'
        - '#Function add_filter not found#'
        - '#Function add_menu_page not found#'
        - '#Function add_settings_field not found#'
        - '#Function add_settings_section not found#'
        - '#Function admin_url not found#'
        - '#Function checked not found#'
        - '#Function current_user_can not found#'
        - '#Function do_settings_sections not found#'
        - '#Function esc_attr not found#'
        - '#Function esc_html not found#'
        - '#Function esc_textarea not found#'
        - '#Function esc_url not found#'
        - '#Function get_admin_page_title not found#'
        - '#Function get_option not found#'
        - '#Function is_admin not found#'
        - '#Function is_customize_preview not found#'
        - '#Function is_feed not found#'
        - '#Function is_preview not found#'
        - '#Function is_user_logged_in not found#'
        - '#Function plugin_basename not found#'
        - '#Function plugin_dir_path not found#'
        - '#Function plugin_dir_url not found#'
        - '#Function register_activation_hook not found#'
        - '#Function register_deactivation_hook not found#'
        - '#Function register_setting not found#'
        - '#Function settings_errors not found#'
        - '#Function settings_fields not found#'
        - '#Function site_url not found#'
        - '#Function size_format not found#'
        - '#Function submit_button not found#'
        - '#Function wp_doing_ajax not found#'
        - '#Function wp_enqueue_script not found#'
        - '#Function wp_enqueue_style not found#'
        - '#Function wp_mkdir_p not found#'
        - '#Function wp_send_json_success not found#'
        - '#Function check_ajax_referer not found#'
        - '#Function wp_die not found#'
        - '#Function error_log not found#'
        - '#Function flush_rewrite_rules not found#'
        - '#Function add_option not found#'
        - '#Function strtok not found#'
        - '#Function glob not found#'
        - '#Function preg_match not found#'
        - '#Function preg_match_all not found#'
        - '#Function preg_replace not found#'
        - '#Function preg_replace_callback not found#'
        - '#Function str_replace not found#'
        - '#Function strpos not found#'
        - '#Function substr not found#'
        - '#Function ltrim not found#'
        - '#Function trim not found#'
        - '#Function explode not found#'
        - '#Function implode not found#'
        - '#Function array_map not found#'
        - '#Function array_merge not found#'
        - '#Function in_array not found#'
        - '#Function count not found#'
        - '#Function empty not found#'
        - '#Function file_exists not found#'
        - '#Function file_get_contents not found#'
        - '#Function file_put_contents not found#'
        - '#Function filemtime not found#'
        - '#Function filesize not found#'
        - '#Function dirname not found#'
        - '#Function basename not found#'
        - '#Function is_dir not found#'
        - '#Function is_file not found#'
        - '#Function is_writable not found#'
        - '#Function mkdir not found#'
        - '#Function rmdir not found#'
        - '#Function unlink not found#'
        - '#Function md5 not found#'
        - '#Function strlen not found#'
        - '#Constant ABSPATH not found#'
        - '#Constant WP_CONTENT_DIR not found#'
        - '#Variable \$_SERVER might not be defined#'
        - '#Variable \$_POST might not be defined#'
        
    # Bootstrap file to define WordPress functions
    bootstrapFiles:
        - phpstan-bootstrap.php
        
    # Exclude vendor directory
    excludePaths:
        - vendor/*
